button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height: 30px;
  }
  .on {
    color: orange;
  }
  .off {
    color: #ccc;
    height: 10px;

  }
  .star{
    height: 80px;
    /* width: 30px; */
    font-size: 28px;
  }
  .star-rating{
    margin-left: -19px;
  }
  .rate-text{
    margin-left: 5px;
  }