
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
.nav-compo{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.butt-login{
    background-color: rgb(45, 123, 224);
    color: white;
}
.butt-signup{
    background-color: rgb(18, 40, 69);
    color: white;
}
.logo{
    margin-left: 52px;
    font-size: 40px;
    font-weight: bold;
    margin-top:19px;

}
.nav-bar{
    padding: 0px;
  
}
.back-img{
   background-image: url(./../assets/background.jpg);
   width: 100%;
   height: 100vh;
    position: relative;
    /* overflow-y: hidden; */
}
.heading{
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
}
.sub-heading{
    color: white;
    font-size: 30px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}
.main-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}
.input-search{
    border: none;
    width: 80%;
    margin-top: 30px;
    height: 60px;
    display: block;
    padding-left: 30px;
    font-weight: bold;
    font-size: 20px;
}
.input-search-cat{
    height: 60px;
    display: block;
    margin-top: 30px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 20px;
     border: none;
     width: 40%;
     border-left: 1px solid rgb(185,191,197);
    
}
.search{
    display: flex;
    justify-content: right;
    width: 63vw;
    font-weight: bold;
    font-size: 20px;
}
.butt-search{
    font-family: 'Open Sans', sans-serif;
    height: 60px;
    margin-top: 30px;
    /* display: block; */
    border: none;
    width: 200px;
    background-color:rgb(45, 123, 224) ;
    color: white;
}
.img-service{
    width: 50px;
}
.head-service{
    color: white;
}
.Services{
    position: absolute;
  background-color: white;
    display: flex;
   justify-content: space-evenly;
  align-items: center;
    border: none;
    width: 80%;
    margin-top: 40px;
    margin-left:125px ; 
    /* margin-bottom: 60px; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
}
.Services-compo{
    margin: 20px 0px;
    width: 400px;
    border-right: 1px solid rgb(185,191,197);
    /* background-color: yellow; */
}
.img-service{
    /* margin-left: 78px; */
    align-items: center;
}
.head-service{
    color: black;
    text-align: center;
    margin-top: 17px;
}
    
.extra-border{
border: none;
}
.Services-img{
    display: flex;
    justify-content: center;
}
.heading{
    margin-top: 150px;
}
.nav-item{
    margin-left: 20px;
    text-decoration: none;
}
.link-home{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
.but-home{
    color: white;
    background-color: rgb(0, 0, 243);
    text-decoration: none;
    border-radius: 5px;
}
.butt{
    color: white ;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}
.search-text-center{
display: flex;
justify-content: flex-start;
align-items: flex-start;
}
.butt-search:hover{
    
}

@media only screen and (max-width:700px) and (min-width: 300px){
  .search-text-center{
      display: flex;
      flex-direction: column;
     align-items: center;
          position: relative;
          top: -11px;
  }
  .input-search{
 width: 100%;         
}
.input-search-cat{
    width: 80%;
}
.Services{
    position: absolute;
  background-color: white;
    display: flex;
    justify-content: flex-start;
    border: none;
    width: 100%;
    margin-top: 112px;
    margin-left: 1px;
}
.heading{
    margin-top: 263px;
    font-size: 41px;
}
.head-service{
    font-size: 15px;
}
}
   
